<div class="content-offset">
  <div class="content">
    <div class="text-center dashboard-welcome">
      <h1>Welcome <%= current_user.firstname %></h1>
    </div>
    <br>
    <div class="row text-center dahboard-rows">
      <div class="col-md-6">
        <div class="row text-center dahboard-rows">
          <div class="col-md-12 dashboard-jobs">
            <p class="dashboard-jobs-title">Current Jobs</p>
            </br>
            <div class="text-center scroll">
              <table class="table table-fixed table-bordered">
                <thead>
                  <tr class='staffing-list-header-font text-center'>
                    <th class="text-center">Location</th>
                    <th class="text-center">Date/Time</th>
                    <th class="text-center">Sport</th>
                    <th class="text-center">Hours</th>
                  </tr>
                </thead>
                <tbody>
                  <% @user_primary_jobs.each do |job| %>
                    <tr class='staffing-list-font'>
                      <td class="col col-md-auto">
                        <p class="text-center"><%= link_to(job.job_location, job_path(job),{:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#mymodal'}) %></p>
                      </td>
                      <td class="col col-md-auto">
                        <p class="text-center"><%= job.job_date %> <%= job.job_time %></p>
                      </td>
                      <td class="col col-md-auto">
                        <p class="text-center"><%= job.job_sport %></p>
                      </td>
                      <td class="col col-md-auto">
                        <p class="text-center"><%= job.job_estimated_hours %></p>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="row text-center dahboard-rows">
          <div class="col-md-12 dashboard-jobs">
            <p class="dashboard-jobs-title">Backup Jobs</p>
            </br>
            <div class="text-center scroll">
              <table class="table table-fixed table-bordered">
                <thead>
                  <tr class='staffing-list-header-font text-center'>
                    <th class="text-center">Location</th>
                    <th class="text-center">Date/Time</th>
                    <th class="text-center">Sport</th>
                    <th class="text-center">Hours</th>
                  </tr>
                </thead>
                <tbody>
                  <% @user_backup_jobs.each do |job| %>
                    <tr class='staffing-list-font'>
                      <td class="col col-md-auto">
                        <p class="text-center"><%= link_to(job.job_location, job_path(job),{:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#mymodal'}) %></p>
                      </td>
                      <td class="col col-md-auto">
                        <p class="text-center"><%= job.job_date %> <%= job.job_time %></p>
                      </td>
                      <td class="col col-md-auto">
                        <p class="text-center"><%= job.job_sport %></p>
                      </td>
                      <td class="col col-md-auto">
                        <p class="text-center"><%= job.job_estimated_hours %></p>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="row text-center dahboard-rows">
          <div class="col-md-12 dashboard-jobs">
            <p class="dashboard-jobs-title">Available Jobs</p>
            </br>
            <div class="text-center scroll">
              <table class="table table-fixed table-bordered">
                <thead>
                  <tr class='staffing-list-header-font text-center'>
                    <th class="text-center">Location</th>
                    <th class="text-center">Date/Time</th>
                    <th class="text-center">Sport</th>
                    <th class="text-center">Hours</th>
                    <th class="text-center">Accept Job</th>
                  </tr>
                </thead>
                <tbody>
                  <% @open_jobs.each do |job| %>
                    <tr class='staffing-list-font'>
                      <td class="col col-md-auto">
                        <p class="text-center"><%= link_to(job.job_location, job_path(job),{:remote => true, 'class' => "job-modal", 'data-toggle' =>  "modal", 'data-target' => '#mymodal'}) %></p>
                      </td>
                      <td class="col col-md-auto">
                        <p class="text-center"><%= job.job_date %> <%= job.job_time %></p>
                      </td>
                      <td class="col col-md-auto">
                        <p class="text-center"><%= job.job_sport %></p>
                      </td>
                      <td class="col col-md-auto">
                        <p class="text-center"><%= job.job_estimated_hours %></p>
                      </td>
                      <td class="col col-md-auto">
                        <p class="text-center"><%= link_to "Accept", job_accept_job_path(job), method: :post, class: 'btn btn-success upgrade', data: { confirm: 'Are you sure you want to accept this Job?' } %></p>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row text-center critical-dahboard-rows">
          <div class="critical-dashboard-jobs">
            <p class="critical-dashboard-jobs-title">Critical Openings</p>
            </br>
            <div class="text-center scroll">
              <table class="table table-fixed table-bordered">
                <thead>
                  <tr class='staffing-list-header-font text-center'>
                    <th class="text-center">Location</th>
                    <th class="text-center">Date/Time</th>
                    <th class="text-center">Sport</th>
                    <th class="text-center">Hours</th>
                    <th class="text-center">Accept Job</th>
                  </tr>
                </thead>
                <tbody>
                  <% @critical_open.each do |job| %>
                    <tr class='staffing-list-font'>
                      <td class="col col-md-auto">
                        <p class="text-center"><%= link_to(job.job_location, job_path(job),{:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#mymodal'}) %></p>
                      </td>
                      <td class="col col-md-auto">
                        <p class="text-center"><%= job.job_date %> <%= job.job_time %></p>
                      </td>
                      <td class="col col-md-auto">
                        <p class="text-center"><%= job.job_sport %></p>
                      </td>
                      <td class="col col-md-auto">
                        <p class="text-center"><%= job.job_estimated_hours %></p>
                      </td>
                      <td class="col col-md-auto">
                        <p class="text-center"><%= link_to "Accept", job_accept_job_path(job, current_user), method: :post, class: 'btn btn-success upgrade', data: { confirm: 'Are you sure you want to accept this Job?' } %></p>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="row text-center critical-dahboard-rows">
          <div class="backup-dashboard-jobs">
            <p class="backup-dashboard-jobs-title">Backup Openings</p>
            </br>
            <div class="text-center scroll">
              <table class="table table-fixed table-bordered">
                <thead>
                  <tr class='staffing-list-header-font text-center'>
                    <th class="text-center">Location</th>
                    <th class="text-center">Date/Time</th>
                    <th class="text-center">Sport</th>
                    <th class="text-center">Hours</th>
                    <th class="text-center">Backup Job</th>
                  </tr>
                </thead>
                <tbody>
                  <% @backup_open.each do |job| %>
                    <tr class='staffing-list-font'>
                      <td class="col col-md-auto">
                        <p class="text-center"><%= link_to(job.job_location, job_path(job),{:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#mymodal'}) %></p>
                      </td>
                      <td class="col col-md-auto">
                        <p class="text-center"><%= job.job_date %> <%= job.job_time %></p>
                      </td>
                      <td class="col col-md-auto">
                        <p class="text-center"><%= job.job_sport %></p>
                      </td>
                      <td class="col col-md-auto">
                        <p class="text-center"><%= job.job_estimated_hours %></p>
                      </td>
                      <td class="col col-md-auto">
                        <p class="text-center"><%= link_to "Backup", job_backup_job_path(job, current_user), method: :post, class: 'btn btn-warning upgrade', data: { confirm: 'Are you sure you want to be added as the backup for this Job?' } %></p>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
