<div class="modal-body">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

  <h1>New Job</h1>

  <%= form_for @organization do |f| %>
    <% if @organization.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@organization.errors.count, "error") %> prohibited this organization from being saved:</h2>

        <ul>
        <% @organization.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-group">
      <%= f.label :organization_name, "Organization Name:" %>&nbsp;&nbsp;
      <%= f.text_field :organization_name, required: true %>
    </div>
    </br>
    <div class="field">
      <%= f.label :organization_address, "Organization Address:", style:"vertical-align: top" %>&nbsp;&nbsp;
      <%= f.text_area :organization_address %>
    </div>
    </br>
    <div class="field">
      <%= f.label :organization_contact_name, "Contact Name:" %>&nbsp;&nbsp;
      <%= f.text_field :organization_contact_name, required: true %>
    </div>
    </br>
    <div class="field">
      <%= f.label :organization_contact_email, "Contact Email:" %>&nbsp;&nbsp;
      <%= f.email_field :organization_contact_email %>
    </div>
    </br>
    <div class="field">
      <%= f.label :organization_contact_phone, "Contact Phone Number:" %>&nbsp;&nbsp;
      <%= f.telephone_field :organization_contact_phone %>
    </div>
    </br>
    <div class="field">
      <%= f.label :organization_notes, "Organization Notes:", style:"vertical-align: top" %>&nbsp;&nbsp;
      <%= f.text_area :organization_notes %>
    </div>
    </br>
    <div class="field">
      <%= f.hidden_field :organization_active, value: true %>
    </div>
    <div class="actions">
      <%= f.submit class: "btn btn-success"%>
    </div>
  <% end %>
</div>
