<div class="content-offset">
  <div class="content">
    <div class="navbar navbar-default">
      <%= form_for_filterrific @filterrific do |f| %>
        <ul class="nav navbar-nav job-nav">
          <li>
            <%= link_to "New Location", new_location_path, {:remote => true, 'data-toggle' =>  "modal", class: 'btn btn-success new-btn', style: 'margin-right: 10px', 'data-target' => '#mymodal'} %>
          </li>
          <li class="search-form">
            <%= f.label :search_by, "Search all Locations:  " %>
            <%= f.text_field(
              :search_by,
              class: 'filterrific-periodically-observed'
            ) %>
          </li>
          <li class="search-form">
          <%= link_to('Reset filters', reset_filterrific_url, { :class=>"reset-filter" }) %>
          </li>
          <%= render_filterrific_spinner %>
        </ul>
      <% end %>
      </div>
        <div>
          <%= render(
            partial: 'locations/list',
            locals: { locations: @locations}
          ) %>
        </div>
    </div>
  </div>
</div>
