<!DOCTYPE html>
<html>
  <head>
    <title>Atfh</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <% if user_signed_in? %>
    <div class="navbar navbar-inverse navbar-fixed-left">
      <%= link_to(image_tag("sm_logo.png", :alt => "logo", class: "main-logo text-center"),root_path) %>
      </br>
      <%= link_to "Hello, #{current_user.firstname}",root_path, {class: "user-name text-center"} %>
      </br>
      <%= link_to "Sign Out", destroy_user_session_path, :method => :delete, class: "sign-out text-center" %>
      <ul class="nav navbar-nav">
       <li><%= link_to "Jobs", jobs_path %></li>
       <li><%= link_to "Guest Comments", dashboards_path %></li>
       <li><%= link_to "TM Comments", dashboards_path %></li>
       <li><%= link_to "FBI", dashboards_path %></li>
      </ul>
    </div>
  <% end %>

  <body>
    <%= flash_messages %>

    <%= yield %>
  </body>
  <!-- Modal -->
  <div class="modal fade" id="mymodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content scroll">
      </div>
    </div>
  </div>
</html>
